{% extends 'stats/base.html' %}
{% block content %}
<div class="container theme-showcase" role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
            <h1>WotStat from official API</h1>
            <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
          </div>
    <div class="page-header">
        <h1>Total Players in DB: {{ total }}</h1>
    </div>
    <div class="row">
        {% if latest_account_list %}
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>Nickname</th>
                    <th>Battles</th>
                    <th>Wins</th>
                    <th>Losses</th>
                  </tr>
                </thead>
                <tbody>
                    {% for account in latest_account_list %}
                        <tr>
                        <td><a href="{% url 'stats:detail' account.account_id %}">{{ account.nickname }}</a></td>
                        <td>{{ account.statistics.all.battles }}</td>
                        <td>{{ account.statistics.all.wins }}</td>
                        <td>{{ account.statistics.all.losses }}</td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <p>No account are available.</p>
                    {% endif %}
                </tbody>
              </table>
            </div>
          </div>
</div> <!-- /container -->
{% endblock %}